header {
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    background-color: #868373;
    padding: 30px;
    font-size: 50px;
}

nav {
    background-color: #999583;
    max-height: 500px;
    font-size: 30px;
  }

footer {
    background-color: #868373;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

article {
    background-color: #AAA694;
    padding: 20px;
    padding-bottom: 2px;
    text-align: left;
    font-size: 25px;
}

body {
    color: #554b52;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(39, 38, 38);
}

a:link {
    color: #8a5c3b;
}

a:visited {
    color: #a88858;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444239;

  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  li a:hover {
    background-color: #525047;
    color: white;
  }  

  img {
    border-radius: 15px 15px 15px 15px;
    border: 3px solid #868373;
  }

  .lebron {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
  }